/*
------------------------
WPC CSS Button Group
Author: Shahriar Shakil
Author URI: https://www.github.com
ver: 0.1
------------------------
*/
/*
Table of contents
------------------
Two Button Styles
-- WPC Rounded Buttons
-- WPC Square Buttons
--- Hover Animation
*/
/*
Mixins
-----------
*/
/*
Animation
-----------
*/
/*
Generic
-------------
*/
body {
  margin: 0;
  padding: 0;
  background-color: #F8F8F8;
}

a {
  text-decoration: none;
}

.wpc-container {
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  margin: 10% auto;
  border-radius: 10px;
  text-align: center;
}
.wpc-container div {
  padding: 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background-color: #D0D0D0;
}

/*
------------------------
WPC BTN
------------------------
*/
.wpc-btn {
  display: inline-block;
  padding: 7px 12px;
  font-weight: normal;
  font-family: "Rajdhani", sans-serif;
  color: #838383;
}

.wpc-btn-default-rounded,
.wpc-btn-success-rounded,
.wpc-btn-danger-rounded,
.wpc-btn-warning-rounded,
.wpc-btn-info-rounded,
.wpc-btn-paste-rounded,
.wpc-btn-blue-rounded,
.wpc-btn-default-square,
.wpc-btn-success-square,
.wpc-btn-danger-square,
.wpc-btn-warning-square,
.wpc-btn-info-square,
.wpc-btn-paste-square,
.wpc-btn-blue-square {
  border: none;
}
.wpc-btn-default-rounded:focus,
.wpc-btn-success-rounded:focus,
.wpc-btn-danger-rounded:focus,
.wpc-btn-warning-rounded:focus,
.wpc-btn-info-rounded:focus,
.wpc-btn-paste-rounded:focus,
.wpc-btn-blue-rounded:focus,
.wpc-btn-default-square:focus,
.wpc-btn-success-square:focus,
.wpc-btn-danger-square:focus,
.wpc-btn-warning-square:focus,
.wpc-btn-info-square:focus,
.wpc-btn-paste-square:focus,
.wpc-btn-blue-square:focus {
  outline: none;
  border-color: #66afe9;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

/*
-------------------------------
wpc rounded button
-------------------------------
*/
.wpc-btn-default-rounded {
  background-color: #fff;
  cursor: pointer;
  border-radius: 6px;
  -webkit-transition: background-color 320ms ease;
  -moz-transition: background-color 320ms ease;
  -ms-transition: background-color 320ms ease;
  -o-transition: background-color 320ms ease;
  transition: background-color 320ms ease;
  color: #333;
}
.wpc-btn-default-rounded:hover {
  background-color: #e1e1e1;
  color: #fff;
}

.wpc-btn-success-rounded {
  background-color: #178633;
  cursor: pointer;
  border-radius: 6px;
  -webkit-transition: background-color 320ms ease;
  -moz-transition: background-color 320ms ease;
  -ms-transition: background-color 320ms ease;
  -o-transition: background-color 320ms ease;
  transition: background-color 320ms ease;
  color: #fff;
}
.wpc-btn-success-rounded:hover {
  background-color: #1c692f;
}

.wpc-btn-danger-rounded {
  background-color: #861717;
  cursor: pointer;
  border-radius: 6px;
  -webkit-transition: background-color 320ms ease;
  -moz-transition: background-color 320ms ease;
  -ms-transition: background-color 320ms ease;
  -o-transition: background-color 320ms ease;
  transition: background-color 320ms ease;
  color: #fff;
}
.wpc-btn-danger-rounded:hover {
  background-color: #c15353;
}

.wpc-btn-warning-rounded {
  background-color: #d85f24;
  cursor: pointer;
  border-radius: 6px;
  -webkit-transition: background-color 320ms ease;
  -moz-transition: background-color 320ms ease;
  -ms-transition: background-color 320ms ease;
  -o-transition: background-color 320ms ease;
  transition: background-color 320ms ease;
  color: #fff;
}
.wpc-btn-warning-rounded:hover {
  background-color: #974015;
}

.wpc-btn-info-rounded {
  background-color: #24c7d8;
  cursor: pointer;
  border-radius: 6px;
  -webkit-transition: background-color 320ms ease;
  -moz-transition: background-color 320ms ease;
  -ms-transition: background-color 320ms ease;
  -o-transition: background-color 320ms ease;
  transition: background-color 320ms ease;
  color: #fff;
}
.wpc-btn-info-rounded:hover {
  background-color: #15929f;
}

.wpc-btn-paste-rounded {
  background-color: #15aa87;
  cursor: pointer;
  border-radius: 6px;
  border: 1px solid #D3D3D3;
  -webkit-transition: background-color 320ms ease;
  -moz-transition: background-color 320ms ease;
  -ms-transition: background-color 320ms ease;
  -o-transition: background-color 320ms ease;
  transition: background-color 320ms ease;
  color: #fff;
}
.wpc-btn-paste-rounded:hover {
  background-color: #0d8166;
}

.wpc-btn-blue-rounded {
  background-color: #069;
  cursor: pointer;
  border-radius: 6px;
  border: 1px solid #D3D3D3;
  -webkit-transition: background-color 320ms ease;
  -moz-transition: background-color 320ms ease;
  -ms-transition: background-color 320ms ease;
  -o-transition: background-color 320ms ease;
  transition: background-color 320ms ease;
  color: #fff;
}
.wpc-btn-blue-rounded:hover {
  background-color: #074e72;
}

.wpc-btn-link {
  background-color: transparent;
  cursor: pointer;
  transition: color 0.5s ease;
  color: #333333;
  -webkit-transition: background-color 320ms ease;
  -moz-transition: background-color 320ms ease;
  -ms-transition: background-color 320ms ease;
  -o-transition: background-color 320ms ease;
  transition: background-color 320ms ease;
}
.wpc-btn-link:hover {
  color: #074e72;
}

.wpc-btn-social {
  background-color: #1d1d1d;
  cursor: pointer;
  border-radius: 6px;
  border: 1px solid #D3D3D3;
  transition: background 0.5s ease;
  color: #fff;
  -webkit-transition: background-color 320ms ease;
  -moz-transition: background-color 320ms ease;
  -ms-transition: background-color 320ms ease;
  -o-transition: background-color 320ms ease;
  transition: background-color 320ms ease;
  color: #fff;
}
.wpc-btn-social:hover {
  background-color: #074e72;
}

/*
-------------------------------
wpc square button
-------------------------------
*/
.wpc-btn-default-square {
  background-color: #fff;
  cursor: pointer;
  -webkit-transition: background-color 320ms ease;
  -moz-transition: background-color 320ms ease;
  -ms-transition: background-color 320ms ease;
  -o-transition: background-color 320ms ease;
  transition: background-color 320ms ease;
  color: #333;
}
.wpc-btn-default-square:hover {
  background-color: #e1e1e1;
  color: #fff;
}

.wpc-btn-success-square {
  background-color: #178633;
  cursor: pointer;
  -webkit-transition: background-color 320ms ease;
  -moz-transition: background-color 320ms ease;
  -ms-transition: background-color 320ms ease;
  -o-transition: background-color 320ms ease;
  transition: background-color 320ms ease;
  color: #fff;
}
.wpc-btn-success-square:hover {
  background-color: #1c692f;
}

.wpc-btn-danger-square {
  background-color: #861717;
  cursor: pointer;
  -webkit-transition: background-color 320ms ease;
  -moz-transition: background-color 320ms ease;
  -ms-transition: background-color 320ms ease;
  -o-transition: background-color 320ms ease;
  transition: background-color 320ms ease;
  color: #fff;
}
.wpc-btn-danger-square:hover {
  background-color: #c15353;
}

.wpc-btn-warning-square {
  background-color: #d85f24;
  cursor: pointer;
  -webkit-transition: background-color 320ms ease;
  -moz-transition: background-color 320ms ease;
  -ms-transition: background-color 320ms ease;
  -o-transition: background-color 320ms ease;
  transition: background-color 320ms ease;
  color: #fff;
}
.wpc-btn-warning-square:hover {
  background-color: #974015;
}

.wpc-btn-info-square {
  background-color: #24c7d8;
  cursor: pointer;
  -webkit-transition: background-color 320ms ease;
  -moz-transition: background-color 320ms ease;
  -ms-transition: background-color 320ms ease;
  -o-transition: background-color 320ms ease;
  transition: background-color 320ms ease;
  color: #fff;
}
.wpc-btn-info-square:hover {
  background-color: #15929f;
}

.wpc-btn-paste-square {
  background-color: #15aa87;
  cursor: pointer;
  -webkit-transition: background-color 320ms ease;
  -moz-transition: background-color 320ms ease;
  -ms-transition: background-color 320ms ease;
  -o-transition: background-color 320ms ease;
  transition: background-color 320ms ease;
  color: #fff;
}
.wpc-btn-paste-square:hover {
  background-color: #0d8166;
}

.wpc-btn-blue-square {
  background-color: #069;
  cursor: pointer;
  transition: background 0.5s ease;
  -webkit-transition: background-color 320ms ease;
  -moz-transition: background-color 320ms ease;
  -ms-transition: background-color 320ms ease;
  -o-transition: background-color 320ms ease;
  transition: background-color 320ms ease;
  color: #fff;
}
.wpc-btn-blue-square:hover {
  background-color: #074e72;
}

/*# sourceMappingURL=wpc_css_btn_group.css.map */
